<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Electric carsm Solar & Clean Energy | Tesla</title>
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/tailwind.css">
</head>
<body>
    <header>
        <!-- Logo -->
         <img src="../images/tesla.svg" alt="tesla image">
        <!-- Nav Links -->
        <div>
            <a href="#modelS">Model S</a>
            <a href="#model3">Model 3</a>
            <a href="#modelX">Model X</a>
            <a href="#modelY">Model Y</a>
            <a href="#solarRoof">Solar Roof</a>
            <a href="#solarPanels">Solar Panels</a>
        </div>
        <!-- Ext Links -->
        <div>
            <a href="#shop">Shop</a>
            <a href="#account">Account</a>
            <a href="#menu">Menu</a>
        </div>
    </header>
</body>
</html>